
        
            <%var path,title=data[j]['title'],description=data[j]['news'],id,article=data[j]['articleid'],author=data[j]['author'],date=data[j]['publish_date'];
                for(var k=0;k<headings.length;k++){
                    var patternimage=/https:[\w]*/;
                    if(patternimage.test(data[j][headings[k]])){
                        path=data[j][headings[k]];
                    }
                    else if(/[0-9]{0,10}/.test(data[j][headings[k]])){
                        id=data[j][headings[k]]

                    }
                }
            
            
            %>
        <%=date%>        
         <center>
            <div class="row">
                    <div class="col s12 m6">
                      <div class="card">
                        <div class="card-image">
                          <img src="<%=path%>">                    
                          <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="right" data-tooltip="Click to know more!!" id="downbut" onclick="document.getElementById('<%=article%>').classList.remove('truncate');" ><i class="material-icons">arrow_drop_down</i></a>
                        </div>
                        <span class="card-title"><%=title%></span>
                          
                        <div class="card-content truncate" id="<%=article%>"  >
                          <p><%=description%>
                            <br>
                            <strong>Author: </strong> <%=author%>
                            <button class="btn-floating right-align red" style="display: hidden;" onclick="document.getElementById('<%=article%>').classList.add('truncate');" ><i class="material-icons">arrow_drop_up</i></button> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                
                </center>
                             